In [1]:
def triple(n):
    return n*3
l=[1,2,3,4,5]
tripled=list(map(triple,l))
print("Original list:",l)
print("\nNew list:",tripled)

Original list: [1, 2, 3, 4, 5]

New list: [3, 6, 9, 12, 15]

In [7]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
nums3 = [7, 8, 9]

print("Original list:")
print(nums1)
print(nums2)
print(nums3)

result = map(lambda x, y, z: x + y + z, nums1, nums2, nums3)

print("\nNew list after adding above three lists:")
print(list(result))

Original list:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

New list after adding above three lists:
[12, 15, 18]

In [11]:
colour=["Red","Green","Blue"]
print("Original list:\n")
print(colour)
new=map(list,colour)
print("New list:\n")
print(list(new))

Original list:

['Red', 'Green', 'Blue']
New list:

[['R', 'e', 'd'], ['G', 'r', 'e', 'e', 'n'], ['B', 'l', 'u', 'e']]

In [15]:
base=[5,7,4,9,8]
index=[]
for i in range(len(base)):
    index.append(i)
print("Original list:")
print(base)
new=map(lambda x,y:x**y,base,index)
print("New list:")
print(list(new))

Original list:
[5, 7, 4, 9, 8]
New list:
[1, 7, 16, 729, 4096]

In [17]:
def square(n):
    return n*n
l=[3,5,8,6,2,9]
print("Original list:")
print(l)
new=map(square,l)
print("New list:")
print(list(new))

Original list:
[3, 5, 8, 6, 2, 9]
New list:
[9, 25, 64, 36, 4, 81]

In [19]:
def change_cases(s):
    return str(s).upper(), str(s).lower()

chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}

print("Original Characters:\n", chrars)

result = map(change_cases, chrars)

print("\nAfter converting above characters in upper and lower cases\nand eliminating duplicate letters:")

print(set(result))

Original Characters:
 {'i', 'U', 'b', 'o', 'E', 'a', 'f'}

After converting above characters in upper and lower cases
and eliminating duplicate letters:
{('B', 'b'), ('A', 'a'), ('I', 'i'), ('U', 'u'), ('E', 'e'), ('F', 'f'), ('O', 'o')}

In [23]:
l1=[20,16,14,24,12]
l2=[5,6,7,8,9]
print("Original lists:")
print(l1)
print(l2)
new=map(lambda x,y:x+y,l1,l2)
print("After adding them:")
print(list(new))
new1=map(lambda x,y:x-y,l1,l2)
print("After subtracting them:")
print(list(new1))

Original lists:
[20, 16, 14, 24, 12]
[5, 6, 7, 8, 9]
After adding them:
[25, 22, 21, 32, 21]
After subtracting them:
[15, 10, 7, 16, 3]

In [25]:
nums_list = [1, 2, 3, 4]
nums_tuple = (0, 1, 2, 3)
print("Original list and tuple:")
print(nums_list)
print(nums_tuple)
result_list = list(map(str, nums_list))
result_tuple = tuple(map(str, nums_tuple))
print("\nList of strings:")
print(result_list)
print("\nTuple of strings:")
print(result_tuple)

Original list and tuple:
[1, 2, 3, 4]
(0, 1, 2, 3)

List of strings:
['1', '2', '3', '4']

Tuple of strings:
('0', '1', '2', '3')

In [27]:
student_data  = [('Alberto Franco','15/05/2002','35kg'), ('Gino Mcneill','17/05/2002','37kg'), ('Ryan Parkes','16/02/1999', '39kg'), ('Eesha Hinton','25/09/1998', '35kg')]
print("Original data:")
print(student_data)
students_data_name = list(map(lambda x: x[0], student_data))
students_data_dob = list(map(lambda x: x[1], student_data))
students_data_weight = list(map(lambda x: int(x[2][:-2]), student_data))
print("\nStudent name:")
print(students_data_name)
print("Student date of birth:")
print(students_data_dob)
print("Student weight:")
print(students_data_weight)

Original data:
[('Alberto Franco', '15/05/2002', '35kg'), ('Gino Mcneill', '17/05/2002', '37kg'), ('Ryan Parkes', '16/02/1999', '39kg'), ('Eesha Hinton', '25/09/1998', '35kg')]

Student name:
['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton']
Student date of birth:
['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998']
Student weight:
[35, 37, 39, 35]

In [31]:
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
l1=[]
count = 0
if nterms <= 0:
    print("Please enter a positive integer")
elif nterms == 1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)
    l1.append(n1)
    
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        l1.append(n1)
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1
def square(n):
    return n*n
new=map(square,l1)
print("Squaring the sequence:")
print(list(new))

How many terms?  7

Fibonacci sequence:
0
1
1
2
3
5
8
Squaring the sequence:
[0, 1, 1, 4, 9, 25, 64]

In [37]:
from array import array
def array_sum(nums_arr):
    sum_n = 0
    for n in nums_arr:
        sum_n += n
    return sum_n
nums = array('i',[1, 2, 3, 4, 5, -15])
print("Original array:", nums)
nums_arr = list(map(int, nums))
result = array_sum(nums_arr)
print("Sum of all elements of the said array:")
print(result)

Original array: array('i', [1, 2, 3, 4, 5, -15])
Sum of all elements of the said array:
0